<html xmlns:th="http://www.thymeleaf.org">

<!--插入头部-->
<div th:insert="~{common/header :: header}"></div>

<body>
<div id="wrapper" class="toggled">

    <!--插入侧边栏-->
    <div th:insert="~{common/nav :: nav}"></div>

    <!--主要内容-->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <table class="table table-bordered table-condensed">
                        <thead>
                        <tr>
                            <th>商品id</th>
                            <th>名称</th>
                            <th>图片</th>
                            <th>单价</th>
                            <th>库存</th>
                            <th>描述</th>
                            <th>类目</th>
                            <th>创建时间</th>
                            <th>修改时间</th>
                            <th colspan="2">操作</th>
                        </tr>
                        </thead>
                        <tbody>


                        <tr th:each="productInfo:${productInfoPage.getContent()}">
                            <td th:text="${productInfo.productId}">${productInfo.productId}</td>
                            <td th:text="${productInfo.productName}">${productInfo.productName}</td>
                            <td><img height="100" width="100" src="" th:src="${productInfo.productIcon}" alt=""></td>
                            <td th:text="${productInfo.productPrice}">${productInfo.productPrice}</td>
                            <td th:text="${productInfo.productStock}">${productInfo.productStock}</td>
                            <td th:text="${productInfo.productDescription}">${productInfo.productDescription}</td>
                            <td th:text="${productInfo.categoryType}">${productInfo.categoryType}</td>
                            <td th:text="${productInfo.createTime}">${productInfo.createTime}</td>
                            <td th:text="${productInfo.updateTime}">${productInfo.updateTime}</td>
                            <td><a href="#"
                                   th:href="@{/seller/product/update(productId=${productInfo.productId})}">修改</a></td>
                            <td>
                                <div th:switch="${productInfo.getProductInfoStatusEnum().message}">
                                    <p th:case="在架">
                                        <a href="#" th:href="@{/seller/product/off_sale(productId=${productInfo.productId})}">下架</a>
                                    </p>
                                    <p th:case="下架">
                                        <a href="#" th:href="@{/seller/product/on_sale(productId=${productInfo.productId})}">上架</a>
                                    </p>
                                </div>
                            </td>
                        </tr>
                        </p>
                        </tbody>
                    </table>
                </div>


                <div class="col-md-12 column">
                    <ul class="pagination  pull-right">
                        <!--显示上一页-->
                        <li class="disabled" th:if="${currentPage<=1}"><a href="#">上一页</a></li>
                        <li th:if="${currentPage>1}"><a href=""
                                                        th:href="@{/seller/product/list(page=${currentPage - 1},size=${size})}">上一页</a>
                        </li>
                        <li th:if="${currentPage-3 >=1}"><a
                                th:href="@{/seller/product/list(page=${currentPage - 3},size=${size})}"
                                th:text="${currentPage -3}">idx</a></li>
                        <li th:if="${currentPage-2 >=1}"><a
                                th:href="@{/seller/product/list(page=${currentPage - 2},size=${size})}"
                                th:text="${currentPage -2}">idx</a></li>
                        <li th:if="${currentPage-1 >=1}"><a
                                th:href="@{/seller/product/list(page=${currentPage - 1},size=${size})}"
                                th:text="${currentPage -1}">idx</a></li>
                        <li class="active"><a href="#" th:text="${currentPage}">1</a></li>
                        <li th:if="${currentPage+1 <=productInfoPage.getTotalPages()}"><a
                                th:href="@{/seller/product/list(page=${currentPage + 1},size=${size})}"
                                th:text="${currentPage +1}">idx</a></li>
                        <li th:if="${currentPage+2 <=productInfoPage.getTotalPages()}"><a
                                th:href="@{/seller/product/list(page=${currentPage + 2},size=${size})}"
                                th:text="${currentPage +2}">idx</a></li>
                        <li th:if="${currentPage+3 <=productInfoPage.getTotalPages()}"><a
                                th:href="@{/seller/product/list(page=${currentPage + 3},size=${size})}"
                                th:text="${currentPage +3}">idx</a></li>

                        <!--显示下一页-->
                        <li class="disabled" th:if="${currentPage==productInfoPage.getTotalPages()}"><a href="#">下一页</a>
                        </li>
                        <li th:if="${currentPage<productInfoPage.getTotalPages()}"><a href=""
                                                                                      th:href="@{/seller/product/list(page=${currentPage + 1},size=${size})}">下一页</a>
                        </li>
                    </ul>
                </div>


            </div>
        </div>
    </div>

</div>
</body>
</html>