<html xmlns:th="http://www.thymeleaf.org">

<!--插入头部-->
<div th:insert="~{common/header :: header}"></div>

<body>
<div id="wrapper" class="toggled">

    <!--插入侧边栏-->
    <div th:insert="~{common/nav :: nav}"></div>


    <!--主要内容-->
    <div id="page-content-wrapper">
        <div class="container">
            <div class="row clearfix">
                <div class="col-md-4 column">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>订单id</th>
                            <th>订单总金额</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td th:text="${orderDTO.orderId}"></td>
                            <td th:text="${orderDTO.orderAmount}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            <!--订单详情表数据-->
                <div class="col-md-12 column">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>商品id</th>
                            <th>商品名称</th>
                            <th>价格</th>
                            <th>数量</th>
                            <th>总额</th>
                        </tr>
                        </thead>
                        <tbody>
                        <p th:each="orderDetail:${orderDTO.getOrderDetailList()}">
                        <tr>
                            <td th:text="${orderDetail.productId}"></td>
                            <td th:text="${orderDetail.productName}"></td>
                            <td th:text="${orderDetail.productPrice}"></td>
                            <td th:text="${orderDetail.productQuantity}"></td>
                            <td th:text="${orderDetail.productQuantity*orderDetail.productPrice}"></td>
                        </tr>
                        </p>
                        </tbody>
                    </table>
                </div>

            <!--操作-->
                <div class="col-md-12 column">
                    <p th:if="${orderDTO.getOrderStatusEnum().message=='新订单'}">
                    <a href="/sell/seller/order/finish?orderId=${orderDTO.orderId}" th:href="@{/seller/order/finish(orderId=${orderDTO.getOrderId()})}" type="button" class="btn btn-default btn-primary">完结订单</a>
                    <a href="/sell/seller/order/cancel?orderId=${orderDTO.orderId}" th:href="@{/seller/order/cancel(orderId=${orderDTO.getOrderId()})}" type="button" class="btn btn-default btn-danger">取消订单</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>