<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <title>全部订单</title>
    <link th:href="@{/beforestatic/css/mui.min.css}" rel="stylesheet"/>
    <link th:href="@{/beforestatic/css/style.css}" rel="stylesheet"/>
    <script type="text/javascript" charset="utf-8"></script>
</head>

<body>
<header class="mui-bar mui-bar-nav mui-bg" th:href="@{/center.html}">
    <div class="mui-pull-left" th:href="@{/center.html}">
        <a title="" href="javascript:window.history.go(-1)"><img src="images/top_arrowleft.png"
                                                                 th:src="@{/beforestatic/images/top_arrowleft.png}"/></a>
    </div>
    <h1 class="mui-title">全部订单</h1>
</header>
<div class="mui-content mui-content-cot">
    <div class="mui-input-row mui-search mui-sosou">
        <a href="sosou.html">
            <input type="search" class="mui-input-clear" placeholder="" data-input-clear="1" data-input-search="1"
                   value="请输入搜索订单">
            <span class="mui-icon mui-icon-clear mui-hidden"></span>
            <span class="mui-placeholder">
					<span class="mui-icon mui-icon-search mui-icon-sosou"></span>
				</span>
        </a>

    </div>
    <div class="mui-content-pro" style="background: #fff;">
        <div id="slider" class="mui-slider" data-slider="5">
            <div id="sliderSegmentedControl"
                 class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted mui-segmented-control-negative mui-protitle">
                <a class="mui-control-item mui-active" href="#item1orders" th:href="@{/order/list.html}">
                    全部
                </a>
                <a class="mui-control-item" href="#item2orders" th:href="@{/order/newlist}">
                    未付款
                </a>
                <a class="mui-control-item" href="#item3orders" th:href="@{/order/cancellist}">
                    已取消
                </a>
                <a class="mui-control-item" href="#item4orders" th:href="@{/order/finishlist}">
                    已完结
                </a>
            </div>
            <div id="item1order" th:each="orderDto:${orderDTOPage}">
                <div class="mui-orders">
                    <p>订单编号：<span th:text="${orderDto.getOrderId()}">150916517682</span><span class="mui-pull-right" th:text="${orderDto.getOrderStatusEnum().getMessage()}">待付款</span></p>
                </div>
  <!--              <div class="mui-orders-pro" th:each="orderDetail:${orderDto}">
                    <a href="product_info.html"  th:href="@{/product/info/(productId=${orderDetail.productId})}">
                        <div class="mui-orders-left">
                            <img src="images/product05.jpg" th:src="${orderDetail.getProductIcon()}"/>
                        </div>
                        <div class="mui-orders-cont">
                            <p th:text="${orderDetail.getProductName()}">Swisse无腥味野生鱼油1500mg 200片新装 益智</p>
                            <p><span th:text="${orderDetail.getProductPrice()}">¥146</span></p>
                            <p>合计：<span th:text="${orderDetail.getProductPrice()*orderDetail.getProductQuantity()}">￥292</span></p>
                        </div>
                        <div class="mui-orders-right">
                            <p style="padding-top: 30px;" th:text="${orderDetail.getProductQuantity()}">×2</p>
                        </div>
                    </a>
                </div>-->
                <div class="mui-orders-bottom">
                    <p>共2个商品 实付金额：￥ <span th:text="${orderDto.getOrderAmount()}">175.00</span></p>
                    <div class="mui-buttom-data mui-pull-right">
                        <a th:href="@{/order/cancel(orderId=${orderDto.getOrderId()})}"><button type="button" class="mui-btn mui-btn-danger mui-btn-outlined" th:if="${orderDto.getOrderStatusEnum().getMessage()=='新订单'}" >取消订单</button></a>
                        <a th:href="@{/order/finish(orderId=${orderDto.getOrderId()})}"><button type="button" class="mui-btn mui-btn-danger mui-btn-outlined" th:if="${orderDto.getOrderStatusEnum().getMessage()=='新订单'}" >立即支付</button></a>
                    </div>
                </div>
                <div class="distance"></div>
            </div>
            <!--<div class="col-md-12 column">
                <ul class="pagination  pull-right">
                    &lt;!&ndash;显示上一页&ndash;&gt;
                    <li class="disabled" th:if="${currentPage<=1}"><a href="#">上一页</a></li>
                    <li th:if="${currentPage>1}"><a href=""
                                                    th:href="@{/seller/order/list(page=${currentPage - 1},size=${size})}">上一页</a>
                    </li>
                    <li th:if="${ not currentPage -3 >=1}"><a
                            th:href="@{/seller/order/list(page=${currentPage - 3},size=${size})}"
                            th:text="${currentPage -3}">idx</a></li>
                    <li th:if="${currentPage -2 >=1}"><a
                            th:href="@{/seller/order/list(page=${currentPage - 2},size=${size})}"
                            th:text="${currentPage -2}">idx</a></li>
                    <li th:if="${currentPage -1 >=1}"><a
                            th:href="@{/seller/order/list(page=${currentPage - 1},size=${size})}"
                            th:text="${currentPage -1}">idx</a></li>
                    <li class="active"><a href="#" th:text="${currentPage}">1</a></li>
                    <li th:if="${currentPage+1 <=orderDTOPage.getTotalPages()}"><a
                            th:href="@{/seller/order/list(page=${currentPage + 1},size=${size})}"
                            th:text="${currentPage +1}">idx</a></li>
                    <li th:if="${currentPage+2 <=orderDTOPage.getTotalPages()}"><a
                            th:href="@{/seller/order/list(page=${currentPage + 2},size=${size})}"
                            th:text="${currentPage +2}">idx</a></li>
                    <li th:if="${currentPage+3 <=orderDTOPage.getTotalPages()}"><a
                            th:href="@{/seller/order/list(page=${currentPage + 3},size=${size})}"
                            th:text="${currentPage +3}">idx</a></li>

                    &lt;!&ndash;显示下一页&ndash;&gt;
                    <li class="disabled" th:if="${currentPage==orderDTOPage.getTotalPages()}"><a href="#">下一页</a>
                    </li>
                    <li th:if="${currentPage<orderDTOPage.getTotalPages()}"><a href=""
                                                                               th:href="@{/seller/order/list(page=${currentPage + 1},size=${size})}">下一页</a>
                    </li>
                </ul>
            </div>
        </div>-->
    </div>
</div>
<script th:src="@{/beforestatic/js/mui.min.js}"></script>
<script th:src="@{/beforestatic/js/style.js}"></script>
</body>

</html>