<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <title>全部订单</title>
    <link th:href="@{/beforestatic/css/mui.min.css}" rel="stylesheet"/>
    <link th:href="@{/beforestatic/css/style.css}" rel="stylesheet"/>
    <script type="text/javascript" charset="utf-8"></script>
</head>

<body>
<header class="mui-bar mui-bar-nav mui-bg" th:href="@{/center.html}">
    <div class="mui-pull-left" th:href="@{/center.html}">
        <a title="" href="javascript:" onclick="self.location=document.referrer;"><img src="images/top_arrowleft.png"
                                                                 th:src="@{/beforestatic/images/top_arrowleft.png}"/></a>
    </div>
    <h1 class="mui-title">支付订单</h1>
</header>
<div class="mui-content mui-content-cot">


    <p align="center" style="margin-top: 50px;color: red;font-size: inherit">支付成功！3秒后返回订单中心......</p>


    <script>
        setTimeout('location.href="[[${url}]]"', 3000);
    </script>


    <script th:src="@{/beforestatic/js/mui.min.js}"></script>
    <script th:src="@{/beforestatic/js/style.js}"></script>
</div>

</body>

</html>