<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
		<title>购物车</title>
		<link th:href="@{/beforestatic/css/mui.min.css}" rel="stylesheet"/>
		<link th:href="@{/beforestatic/css/style.css}" rel="stylesheet"/>
		<link th:href="@{/beforestatic/css/cart.css}" rel="stylesheet"/>
		<script type="text/javascript" charset="utf-8">

		</script>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav mui-bg">
			<div class="mui-pull-left">
				<a  title="" href="javascript:window.history.go(-1)"><img src="images/top_arrowleft.png" th:src="@{/beforestatic/images/top_arrowleft.png}"/></a>
			</div>
			<h1 class="mui-title">购物车</h1>
		</header>
		<div class="mui-content mui-content-cot" style="margin-bottom: 100px;">
			<div class="mui-card mui-shopping-cart" style="padding-top: 10px;">
				<form class="mui-input-group">
						<div class="mui-table-view-cell mui-media mui-list" th:each="cartItem:${carts}">
							<a href="#account" class="mui-navigate">
								<img class="mui-media-object mui-pull-left" src="images/product11.png" th:src="@{/beforestatic/images/product11.png}" />
								<div class="mui-media-body mui-list-data mui-shopping-cart">
									<p th:text="${cartItem.getProductInfo().getProductName()}">Swisse无腥味野生鱼油1500mgSwisse无腥味野生鱼油1500mg</p>
									<p th:text="${cartItem.getProductInfo().getProductPrice()}" style="color: #FF5000;">￥146</p>
									<p th:text="${cartItem.getTotalPrice()}"></p>
								</div>
								<div class="mui-numbox mui-number mui-pull-right mui-numbox-news">
									<a th:href="@{/cart/subtract(productId=${cartItem.getProductInfo().getProductId()})}"><button class="mui-btn mui-btn-numbox-minus" type="button" >-</button></a>
									<input class="mui-input-numbox mui-numbox-cont mui-minus-gray" type="number" th:value="${cartItem.getCount()}">
									<a th:href="@{/cart/addcart(productId=${cartItem.getProductInfo().getProductId()})}"><button class="mui-btn mui-btn-numbox-plus mui-add-orange" type="button" >+</button></a>
								</div>
							</a>
						</div>
				</form>
			</div>





		</div>
		<footer class="gwc_footer">


			<div class="total">
				<p>合计：<span th:text="${totalPrice}">￥217.80</span><br />免费配送</p>
			</div>
			<div class="mui-buttom-data" style="float: right;width: 30%;">
				<a href="established.html">
					<button type="button" class="mui-btn mui-btn-danger mui-data-btn">去结算</button>
				</a>
			</div>

			</div>
		</footer>
		<script th:src="@{/beforestatic/js/mui.min.js}"></script>
		<script th:src="@{/beforestatic/js/style.js}"></script>
	</body>

</html>